@import "src/styles";
:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(0deg, $nav-blue-light 35%, $white 65%) no-repeat;

  .content{
    margin-bottom: auto;
    padding: 20px 0;
  }
}
