<!--<div class="container">-->
<!--  <section>-->
<!--    <h2>Znajdź swojego ulubionego fotografa!</h2>-->
<!--    <img id="img1" src="assets/images/photographer3.svg" alt="sesja fotograficzna">-->
<!--    <p>-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at felis tincidunt, suscipit velit vitae, tempor ligula. Nunc a augue interdum, mattis risus et, gravida dolor. Nam blandit dignissim enim, non malesuada arcu fermentum quis. Duis vitae scelerisque ipsum, et efficitur urna. Suspendisse potenti. Sed libero massa, eleifend a rhoncus non, efficitur ac lorem. Sed euismod sed lorem eget congue. Proin posuere nisl a nisl lacinia, at euismod nisi luctus. Curabitur faucibus non lacus sit amet dapibus. Nullam sem quam, consequat non auctor a, lacinia vel quam. Nam faucibus lacus et sapien feugiat faucibus vel et nibh.-->
<!--    </p>-->
<!--  </section>-->
<!--  <hr/>-->
<!--  <section>-->
<!--    <h2>Zdobywaj klientów i zarządzaj sesjami!</h2>-->
<!--    <img id="img2" src="assets/images/photographer2.svg" alt="fotograf">-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at felis tincidunt, suscipit velit vitae, tempor ligula. Nunc a augue interdum, mattis risus et, gravida dolor. Nam blandit dignissim enim, non malesuada arcu fermentum quis. Duis vitae scelerisque ipsum, et efficitur urna. Suspendisse potenti. Sed libero massa, eleifend a rhoncus non, efficitur ac lorem. Sed euismod sed lorem eget congue. Proin posuere nisl a nisl lacinia, at euismod nisi luctus. Curabitur faucibus non lacus sit amet dapibus. Nullam sem quam, consequat non auctor a, lacinia vel quam. Nam faucibus lacus et sapien feugiat faucibus vel et nibh.</p>-->
<!--  </section>-->
<!--</div>-->



<div class="container">
  <div class="row">
    <div class="col-md-6 light-blue">
      <h2>
        Znajdź najlepszego fotografa!
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
    </div>
    <div class="col-md-6">
      <img id="img1" src="assets/images/photographer3.svg" alt="sesja fotograficzna" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img id="img2" src="assets/images/photographer2.svg" alt="fotograf" />
    </div>
    <div class="col-md-6">
      <h2>
        Zdobywaj klientów!
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
    </div>
  </div>
</div>
