@import "src/styles";

.about-me{
  color: $font-dark;
  .description-input{
    resize: none;
  }
}

.rate{
  position: relative;
  bottom: 75px;
  padding: 10px 15px;
  width: fit-content;
  b{
    font-size: 1.3rem;
  }
}
.row{
  margin-bottom: 15px;
}
.category-chips {
  display: inline-flex;
  background-color: $middle-red;
  border-radius: 20px;
  color: $white;
}
