<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img height="300px" [src]="showPic(profile.profilePicture)" alt="profile pic"/>
      </div>
      <div class="col-md-6">
        <h1>{{profile.userName}}</h1>
      </div>
    </div>
  </div>


  <p>{{profile.rating}}</p>
  <p>{{profile.city}}</p>
  <p>{{profile.postsCount}}</p>
  <p>{{profile.price}}</p>
  <p>{{profile.rateCount}}</p>
  <p>{{profile.categories}}</p>
  <p>{{profile.bio}}</p>
  <p>{{profile.posts}}</p>
</div>
