<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <app-sort [fields]="sortingFields" [listToSort]="posts"></app-sort>
      <p *ngIf="posts?.length === 0" class="text-center mt-3 col-lg-9 h2">
        Brak nowych postów.<br>
        Znajdź nowych użytkowników w zakładce <a [href]="routeToDiscover">Odkryj!</a>
      </p>
      <div class="row" *ngFor="let post of posts">
        <div class="card">
          <a href="{{routeToProfile+post.author}}">
            <div class="card-header">
              <h5>
                <img [src]=showProfilePic(post.author) class="profile-pic"> {{post.author}}
              </h5>
              <h6>{{post.timestampToDisplay}}</h6>
            </div>
          </a>
          <div class="card-body d-flex justify-content-center">
            <img class="img-fluid" [src]="post.photo">
          </div>
          <div class="card-footer">
            <button #likeButton
                    [className]="styleLikeButtons(likeButton, post)"
                    (click)="likeClicked(post)">
              <i class="fal fa-thumbs-up"></i> Lubię to!
            </button>
            <span><i class="fas fa-thumbs-up"></i> {{post.likes}} osób lubi to</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
