<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 bg-light content">
      <app-sort></app-sort>
      <p *ngIf="posts?.length === 0" class="text-center mt-3 col-lg-9 h2">
        Brak nowych postów.<br>
        Znajdź nowych użytkowników w zakładce <a [href]="routeToDiscover">Odkryj!</a>
      </p>
        <ngx-masonry-gallery
          [width]='275'
          [images]='images'
          [gutter]="15"
          [verticalGutter]="15"
          (clickImage)="photoClicked($event)">
        </ngx-masonry-gallery>
    </div>
    <div class="col-md-2"></div>
  </div>

</div>

<full-screen-modal #modal>
  <div class="image-info d-flex flex-column">
    <span>{{clickedPost?.author}}</span>
    <span>{{clickedPost?.timestamp}}</span>
    <span>{{clickedPost?.likes}}</span>
  </div>
</full-screen-modal>
