@import "src/styles";

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):not(.bg-darken){
  &:hover {
    filter: brightness(95%);
  }
}
.bg-brown{
  background-color: $light-red;
}
.bg-darken{
  background-color: $light-gray;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

  .element-description-attribution {
      opacity: 0.5;
    }
