<div class="container">
  <div class="row">
    <div class="col-md-2">
      <list-filter [listToFilter]="allMeetings" [user]="loggedUser" (filteredList)="onFilteredList($event)"></list-filter>
    </div>
    <div class="col-md-10 pt-5">
      <div *ngIf="meetingsToDisplay && meetingsToDisplay.length>0; else noMeetings">
        <table mat-table
               [dataSource]="meetingsToDisplay" multiTemplateDataRows
               class="mat-elevation-z8">
          <ng-container matColumnDef="{{column.val}}" *ngFor="let column of displayColumns">
            <th mat-header-cell *matHeaderCellDef> {{column.display}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column.val]}} </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length" [ngClass]="rowColor(element)">
              <div class="element-detail d-flex justify-content-end"
                   [@detailExpand]="isExpendable(element, expandedElement)">
                <div class="p-2 d-flex">
                  <ng-container *ngIf="loggedUser===element.owner && element.status === statuses.NEW">
                    <button class="me-3 btn btn-danger" (click)="rejectMeeting(element.id)">Odrzuć</button>
                    <button class="btn btn-success" (click)="acceptMeeting(element.id)">Zaakceptuj</button>
                  </ng-container>
                  <ng-container *ngIf="loggedUser!==element.owner && element.status === statuses.NEW">
                    <button class="btn btn-dark" (click)="cancelMeeting(element.id)">Anuluj</button>
                  </ng-container>
                  <ng-container *ngIf="loggedUser!==element.owner && element.status === statuses.ARCHIVAL && element.rate === null">
                    <star-rating #rate [readonly]="false"></star-rating>
                    <button class="ms-3 btn btn-dark" (click)="rateMeeting(element.id, rate)">Oceń spotkanie</button>
                  </ng-container>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let element; columns: columns;"
               [ngClass]="rowColor(element, 'element-row')"
              [class.expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
      </div>
      <ng-template #noMeetings>
        <h2>Nie masz zaplanowanych sesji.</h2>
      </ng-template>
    </div>
  </div>
</div>
