<nav class="navbar navbar-expand-xl">
  <div class="container">
    <a class="logo" href="{{homeRef}}">
      <img src="assets/images/logo.svg" alt="logo"/>
    </a>
    <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="isLogged" class="navbar-nav mr-auto">
        <li><a href="{{followedRef}}">{{ 'nav.followed' | translate}}</a></li>
        <li><a href="{{discoverRef}}">{{ 'nav.discover' | translate}}</a></li>
        <li><a href="{{profileRef}}">{{ 'nav.profile' | translate}}</a></li>
        <li><a href="{{homeRef}}" (click)="logout()">{{ 'nav.logout' | translate}}</a></li>
      </ul>
      <div>
        <ul *ngIf="!isLogged">
          <li><a class="m-2" (click)="openModal()">{{ 'nav.login' | translate}}
            <app-modal #modal [modalConfig]="modalConfig">
              <app-login></app-login>
            </app-modal>
          </a></li>
          <li><a href="{{registerRef}}" class="m-2">{{ 'nav.register' | translate}}</a></li>
        </ul>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <div class="search-box" *ngIf="isLogged">
          <div class="input-group">
            <input class="form-control mr-sm-2" type="text" placeholder="Szukaj">
            <div class="input-group-append my-2 my-sm-0">
              <span class="btn"><i class="fas fa-search"></i></span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
            data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</nav>
