<div class="container">
  <div>
    <h1>Logowanie</h1>
    <form #loginForm="ngForm" (ngSubmit)="submitLogin()">
      <div class="form-group">
        <label for="name">Login</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.username" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Wprowadź login
        </div>
      </div>

      <div class="form-group">
        <label for="password">Hasło</label>
        <input required type="password" class="form-control" id="password"
               [(ngModel)]="model.password" name="password" #password="ngModel">
        <div class="form-control" [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          Wprowadź hasło
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Zaloguj</button>

    </form>
  </div>

  <p>Nie posiadasz konta? <a href="/register">Zarejestruj się!</a></p>
</div>
