<ng-template #modal>
  <div class="modal-header">
    <h2 class="modal-title">{{ modalConfig.modalTitle | translate }}</h2>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer" *ngIf="isDismissButtonEnabled() && isCloseButtonEnabled()">
    <button type="button"
            class="btn"
            (click)="dismiss()"
            *ngIf="isDismissButtonEnabled()"
            [disabled]="modalConfig.disableDismissButton !== undefined && modalConfig.disableDismissButton()">
      {{ modalConfig.dismissButtonLabel }}
    </button>
    <button type="button"
            class="btn"
            (click)="close()"
            *ngIf="isCloseButtonEnabled()"
            [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
      {{ modalConfig.closeButtonLabel }}
    </button>
  </div>
</ng-template>
