<div class="container">
  <div class="row">
    <div class="col-md-6 light-blue">
      <h2>
        Znajdź najlepszego fotografa!
      </h2>
      <p>
        Porównaj portfolia i opinie, wybierz i ciesz się wspaniałymi zdjęciami!
      </p>
    </div>
    <div class="col-md-6">
      <img id="img1" src="assets/images/photographer3.svg" alt="sesja fotograficzna" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img id="img2" src="assets/images/photographer1.svg" alt="fotograf" />
    </div>
    <div class="col-md-6 pt-5">
      <h2>
        Zdobywaj klientów!
      </h2>
      <p>
        Jeśli jesteś Fotografem dołącz do nas i zaprezentuj swoje portfolio za darmo tysiącom osób, które szukają idealnego fotografa na swoją okazję! Zapraszamy!
      </p>
    </div>
  </div>
</div>
