<header xmlns="http://www.w3.org/1999/html">
  <div id="container">
    <a class="logo" href="/">
      <img src="assets/images/logo.svg" alt="logo"/>
    </a>
    <nav>
      <ul>
        <li><a href="#">{{ 'nav.home' | translate}}</a></li>
        <li><a href="#">{{ 'nav.followed' | translate}}</a></li>
        <li><a href="#">{{ 'nav.discover' | translate}}</a></li>
        <li><a href="#">{{ 'nav.profile' | translate}}</a></li>
        <li>

        </li>
      </ul>
    </nav>
    <div class="search-box">
      <div class="input-group">
        <input type="text">
        <div class="input-group-append">
          <span class="btn btn bg-white"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </div>
  </div>
</header>
