<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="sticky-top side-nav p-4">
        <filter (filters)="filter($event)" [categories]="categories"></filter>
      </div>
    </div>

    <div class="col-md-9 content">
      <div class="row">
        <app-sort #sortProfiles (sortParams)="sort($event)" [fields]="sortOptions" class="mb-2 col-lg-9"></app-sort>
      </div>
      <div class="row" *ngFor="let profile of profiles">
        <div class="mb-2 col-lg-9">
          <a href="{{routeToProfile+profile.userName}}">
            <div class="card">
              <h5 class="card-header">
                {{profile.userName}}
              </h5>
              <div class="card-body">
                <img [src]=showPic(profile.profilePicture) class="profile-pic">
                <ul class="list-attributes">
                  <li class="city mb-1">{{profile.city}}</li>
                  <li class="gallery mb-1">{{profile.postsCount}}</li>
                  <li class="price mb-1">{{profile.price}}</li>
                  <li>
                    <ngb-rating [readonly]="true" [(rate)]="profile.rating" [max]="5">
                      <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                          <span class="half" [style.width.%]="fill">&#9733;</span>
                          &#9733;
                        </span>
                      </ng-template>
                    </ngb-rating>
                </ul>
              </div>
              <div class="card-footer">
                <div class="category-chips px-2 py-1" *ngFor="let category of profile.categories">{{category}}</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
