/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//fonts
$font-roboto: Roboto, sans-serif;

//colors
$deep-taupe: #866562FF;
$white: #FBFBFDFF;
$gray: #cccccc;
$light-gray: #e8e8e8;
$deep-blue: #1C468AFF;
$deep-saffron: #F99746FF;
$blue-gray: #6699CCFF;
$green: #82B378FF;
$violet: #705C84FF;
$middle-red: #E28569FF;
$light-red: #ffded3;
$steel-teal: #71979BFF;
$nav-blue-light: #99CCFF;
$dark-blue: #495d75;
$font-dark: #5a5a5a;

//other var
$nav-height: 5rem;
$footer-height: 3rem;

html {
  font-size: 16px;
}

.btn:not(.btn-outline-dark-brown){
  box-shadow: none !important;
  border: none !important;
}

.btn-brown {
  background-color: $middle-red !important;
  color: $white !important;
}

.btn-blue {
  background-color: $blue-gray !important;
  color: $white !important;
}

.btn-dark-brown {
  background-color: $deep-taupe !important;
  color: $white !important;
}
.btn-outline-dark-brown {
  box-shadow: none !important;
  padding: 5px 11px;
  color: $deep-taupe !important;
  border-color: $deep-taupe;
}

.toastr-position {
  position: fixed;
  top: 5rem;
  right: 0;
}

.star {
  position: relative;
  display: inline-block;
  color: #d3d3d3;
  font-size: 2rem;
  margin-top: -0.5rem;
}

.full, .filled, .half {
  color: $middle-red;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
}
.bg-blue{
  background-color: $blue-gray;
  color: $white;
}
