/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//fonts
$font-roboto: Roboto, sans-serif;

//colors
$deep-taupe: #866562FF;
$white: #FBFBFDFF;
$gray: #cccccc;
$deep-blue: #1C468AFF;
$deep-saffron: #F99746FF;
$blue-gray: #6699CCFF;
$green: #82B378FF;
$violet: #705C84FF;
$middle-red: #E28569FF;
$steel-teal: #71979BFF;
$nav-blue-light: #99CCFF;
$dark-blue: #495d75;

//other var
$nav-height: 5rem;
$footer-height: 3rem;

html{
  font-size: 16px;
}
.btn{
  background-color: $middle-red !important;
  color: $white !important;
}
.toastr-position{
  position: fixed;
  top: 5rem;
  right: 0;
}
.star {
  position: relative;
  display: inline-block;
  color: #d3d3d3;
  font-size: 2rem;
  margin-top: -0.5rem;
}
.full, .filled, .half {
  color: $middle-red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
}
