<div class="container h-100 bg-light rounded-3">
  <div class="row">
    <div class="col-md-3 p-0 bg-blue rounded-start">
      <ng-container *ngFor="let chat of chats; let last = last;">

        <div class="d-flex p-3 flex-nowrap contact" (click)="populateMessages(chat)">
          <span class="h4 ms-5"><i class="fas fa-user-circle me-2"></i><span
            [innerHTML]="nameBasedOnSender(chat)"></span></span>
        </div>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-container>
    </div>
    <div class="col-md-9 p-0">
      <div class="px-4 py-3 d-flex flex-column messages ">
        <div *ngFor="let message of messages" class="message" [ngClass]="positionBasedOnSender(message)">
          <div class="timestamp w-100">{{message.timestamp}}</div>
          <div class="message-content"><b>{{message.author}}</b>: {{message.content}}</div>
        </div>
      </div>
      <div class="message-input mt-auto py-2" [formGroup]="form">
        <input class="w-75 me-2" [maxLength]="1000" formControlName="content" type="text">
        <button mat-raised-button (click)="sendMessage()">Wyślij</button>
      </div>
    </div>
  </div>
</div>
