@import "src/styles";

.bg-blue{
  background-color: $blue-gray;
  color: $white;
}
.messages{
  height: 750px;
  overflow-y:scroll;
}
.message{
  min-width: 0;
  display: inline-block;
  overflow-wrap: break-word;
  background-color: $nav-blue-light;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}
.contact:hover{
  backdrop-filter: brightness(1.2);
}
.message-input{
  display: flex;
  justify-content: center;
}
.timestamp{
  bottom: 30px;
  font-size: 0.8rem;
  position: relative;
}
.message-content{
  margin-top: -20px;
  color: $font-dark;
}
