<form>
  <div class="form-group">

    <h4>{{ 'filters.header' | translate}}</h4>

    <label for="rating-filter">{{ 'filters.rating' | translate}}</label>
    <div id="rating-filter">
      <star-rating [(rate)]="filtersParam.ratingMoreThan" [readonly]="false"></star-rating>
    </div>

    <label for="category-filter">{{ 'filters.categories' | translate}}</label>
    <div id="category-filter">
      <mat-chip-list selectable multiple>
        <mat-chip #c="matChip" removable *ngFor="let category of categories" [value]="category" (click)="toggleSelection(c)">
          {{category}}
        </mat-chip>
      </mat-chip-list>
    </div>

    <button class="mt-3 btn btn-brown" (click)="filter()" mat-raised-button>
      Filtruj
    </button>
  </div>
</form>
