<form>
  <div class="form-group">

    <h4>{{ 'filters.header' | translate}}</h4>

    <label for="rating-filter">{{ 'filters.rating' | translate}}</label>
    <div id="rating-filter">
      <ngb-rating [(rate)]="filtersParam.ratingMoreThan" [max]="5">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100">&#9733;</span>
        </ng-template>
      </ngb-rating>
    </div>

    <label for="category-filter">{{ 'filters.categories' | translate}}</label>
    <div id="category-filter">
      <mat-chip-list selectable multiple>
        <mat-chip #c="matChip" removable *ngFor="let category of categories" [value]="category" (click)="toggleSelection(c)">
          {{category}}
        </mat-chip>
      </mat-chip-list>
    </div>

    <button (click)="filter()" mat-raised-button>
      Filtruj
    </button>
  </div>
</form>
